/* .header-container{
    display: flex;
   
} */



.Header{
    display: flex;
    justify-content: space-between;
    /* background-image: url('../../Image/Header.jpeg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 200%;  */
    /* background-position: center; */
    background-color: rgb(255, 255, 255);    
    /* position: relative; */
    flex-direction: row;
    color: rgb(36, 106, 115);
}
.Titre {
    
    font-family: 'Inconsolata', monospace ;
    font-size: 30px;
    font-weight: bold;
}

.Clock {
    display: inline;
    text-align: right;
    /* position:relative ; */
    /* margin-bottom: 200px; */
    margin-top: 15px;

}
.logo{
    width: 120px;
    height: 60px;
}