
#FirstPage{
    display: flex;
    justify-content: space-between;
    background-image: url('../../Image/Header.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 200%; 
    background-position: center;
}
.logo{
    width: 120px;
    height: 60px;
}