.clock{
    width: 23vw;
    height: 23vh;
    overflow: hidden;
    text-align: center;
    
}

h1{
    border: 2px solid red;
    width: 250px;
    margin: 40vh auto 0px auto;
    border-radius: 15px;
    padding: 10px 0;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.352);
}

h1{
    font-family: 'arial';
    color: sandybrown;
}