

.clock{
    width: 23vw;
    height: 23vh;
    overflow: hidden;
    text-align: center;
    
}


h1{
    width:100% ;
    margin-top: 15%;
    position: absolute;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color:rgb(111, 96, 126);
    font-family: 'arial', sans-serif;
    letter-spacing: 5px;
}

h2{
    width: 100%;
    margin: 20vh auto 0px auto;
    padding: 20px 0;
    font-family: 'arial';
    color:rgb(111, 96, 126);
}